/* General Markup Styles
---------------------------------------- */

@mixin box-shadow($shadow)
{
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin text-shadow($shadow)
{
	-webkit-text-shadow: $shadow;
	-moz-text-shadow: $shadow;
	-o-text-shadow: $shadow;
	text-shadow: $shadow;
}

@mixin text-shadow2($shadow, $shadow1)
{
	-webkit-text-shadow: $shadow, $shadow1;
	-moz-text-shadow: $shadow, $shadow1;
	-o-text-shadow: $shadow, $shadow1;
	text-shadow: $shadow, $shadow1;
}

@mixin user-select($select)
{
	-webkit-touch-callout: $select;
	-webkit-user-select: $select;
	-khtml-user-select: $select;
	-moz-user-select: $select;
	-ms-user-select: $select;
	user-select: $select;
}

* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

header,section,footer,aside,nav,article,hgroup 
{
	display: block;
}

body 
{
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
 	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #828282;
	/*font-size: 62.5%;			 This sets the default font size to be equivalent to 10px */
 	font-size: 10px;
	overflow: hidden;
}
 
body,html 
{
	width: 100%;
	height: 100%;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 200px;
	color: #FFFFFF;
	margin-top: 15px;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	/* Forum header titles */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #3f3f3f;
	font-size: 2em;
	margin: 0.8em 0 0.2em 0;
	
	> span {
		vertical-align: middle;
	}
	
	img {
		vertical-align: middle;
	}
}

h2.solo {
	margin-bottom: 1em;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
	color: #989898;
	margin-top: 20px;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	/* Also see tweaks.css */
	border: 0 none #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 0;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	margin: 10px 0;
}

hr.divider {
	display: none;
}

hr.separator
{
	border: none;
}

p.right {
	text-align: right;
}

#bottom-bar
{
	position: absolute;
	bottom: 0;
	z-index: 200;
	width: 100%;
	background: #fff;
	font-size: 1.2em;
	
	ul
	{
		list-style-type: none;
		width: 100%;
		
		li
		{
			transition: display 0.25s;
			padding: 5px;
			border: 1px solid #333;
			display: none;
		}
	}
	
	span
	{
		float: right;
		font-weight: bold;
		cursor: pointer;
		color: #333;
	}
}

/* Main blocks
---------------------------------------- */

#simple-wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
	> div {
		padding: 6px 10px;
	}
}

#even-bigger-wrapper
{
	/*transition: width 0.25s; */
	transition-timing-function: cubil-bezier(0,0.5,1,0.5);
	width: 100%;
	height: 100%;
	float: left;
	overflow: auto;
}

#big-wrapper
{
	width: 100%;
	/* height: calc(100% - 40px);*/ height: 100%;
	/* padding-top: 40px; */
	min-width: 850px;
}

#wrapper 
{
	width: 80%;
	padding-top: 5px;
	min-height: calc(100% - 420px); /* Full height of the logo image and the footer */
	margin: 0 auto;
}

.welcome-img
{
	display: table;
	width: 100%;
	font-size: 100px;
	color: white;
	background-position: center 0;
	background-repeat: no-repeat;
	border-bottom: 5px solid #333;
	height: 350px;
	margin: 0 auto;
	
	div
	{
		width: 100%;
		text-align: center;
		display: table-cell;
		height: 350px;
		vertical-align: middle;
		@include text-shadow2(0 0 20px rgba(0, 0, 0, 1),0 0 20px rgba(0, 0, 0, 0.5));
	}
}

#page-body {
	margin: 4px 0;
	clear: both;
}

#footer {
	width: 80%;
	margin: 0 auto;
	clear: both;
	border-top: 1px solid #333333;
	padding: 10px 0;
	min-height: 19px;
	max-height: 19px;
	text-align: center;
}

.simple-copyright {
	clear: both;
	text-align: center;
}

#page-footer {
	clear: both;
}

#page-footer h3 {
	margin-top: 20px;
}

/* Top bar
--------------------------------------------- */

#header
{
	height: 70px;
	position: absolute;
	top: 0;
	overflow: hidden;
	font-size: 1.2em;
	z-index: 1;
}

.hex
{
	@include user-select(none);
	transition: padding-top 0.25s, background 0.25s;
	transition-timing-function: cubil-bezier(0,0.5,1,0.5);
    width: 60px;
    height: 30px;
    background-color: #fff; 
    position: relative;   
    > div
	{	
    	height: 52px;
    	width: 100%;
    	background-image: url("{T_THEME_PATH}/images/arrow1hover.svg");
    	background-position: 0% 30px;
    	background-repeat: no-repeat; 
	}
	
	> div:after {
		transition: opacity 0.25s;
		transition-timing-function: cubil-bezier(0,0.5,1,0.5);
		content: "";
		width: 60px;
		height: 52px;
		background-image: url("{T_THEME_PATH}/images/arrow1.svg");
    	background-position: 0% 30px;
    	background-repeat: no-repeat; 
		position: absolute;
		left: 0;
		opacity: 1;
	}
	img
	{
  		width: 40px;
  		height: 40px;
  		padding: 0 5px;
  		display: inline-block;
  		position: relative;
  		z-index: 2;
  		vertical-align: top; 
  	}
    
}

.hex:hover
{
	padding-top: 15px;
	background-color: #a6d5a6;
	
	> div:after
	{
		opacity: 0;
	}
}

.menu 
{
	list-style: none;
	vertical-align: top;
	padding-left: 0;
	margin-left: -2px;
	
	li
	{
		display: inline-block;
		max-width: 60px;
		max-height: 40px;
		margin: 0px 2px;
		text-align: center;
		vertical-align: top;
	}
	
	a
	{
		display: inline-block;
    	transition: color 0.25s;
		transition-timing-function: cubil-bezier(0,0.5,1,0.5);
    	line-height: 40px; 
    	max-width: 60px;
    	max-height: 40px;
    	text-decoration: none;
	}

	a:hover 
	{
		cursor: pointer;
		background: #333;
		color: #fff;
		text-decoration: none;
	}
}

#usr-nav-reference
{
	transition-timing-function: cubil-bezier(0,0.5,1,0.5);
	width: 275px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 101;
	overflow: hidden;
	
	.hex
	{
		transition: margin-left 0.25s, background 0.25s;
		transition-timing-function: cubil-bezier(0,0.5,1,0.5);
  		width: 255px;
   		height: 40px;
    	margin-left: 30px;
    	
    	> div
		{
			width: 271px;
			height: 40px;
    		background-image: url("{T_THEME_PATH}/images/arrow2hover.svg");
    		background-position: 0px 0%;
    		position: absolute;
    		left: -16px;
		}
		> div:after 
		{
			width: 271px;
			height: 40px;
			background-image: url("{T_THEME_PATH}/images/arrow2.svg");
			background-position: 0px 0%;
		}
	}

	.hex:hover
	{
		margin-left: 20px;
		padding-top: 0;
		cursor: pointer;
	}
}

#usr-nav-name, #usr-nav-reference
{
	text-align: center;
	span 
	{
		line-height: 40px;
		vertical-align: top;
		padding-right: 5px;
		font-weight: bold;
		font-size: 1.2em;
	}
	
	img
	{
		image-rendering: optimizeSpeed;
		image-rendering: -moz-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -o-crisp-edges;
		image-rendering: optimize-contrast;
		-ms-interpolation-mode: nearest-neighbor;
		width: 30px;
		height: 30px;
		padding: 5px;
	}
}
/* User sidebar
--------------------------------------------- */

/*
 * User sidebar
 */
 
#usr-nav {
	transition-timing-function: cubil-bezier(0,0.5,1,0.5);
	width: 0;
	height: 100%; 
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	right: 0;
	background: #4f4f4f;
	@include box-shadow(-1px 0 1px rgba(0, 0, 0, 0.1));
	color: #c9c9c9;
	
	hr {
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-rigth: 10px;
		height: 1px;
		@include box-shadow(0px 1px 1px rgba(0,0,0,0.1))
	}
}

#usr-nav-name
{
	position: relative;

	.heex
	{
		width: 13px;
		height: 30px;
		margin: 5px;
    	margin-right: 15px;
    	position: absolute;
    	top: 0;
    	right: 0;
    	background-image: url("{T_THEME_PATH}/images/arrow3.svg");
	}
}

#usr-nav-name:hover
{
	cursor: pointer;
	background: #444444;
}

.sep {
	border: 0 none #FFFFFF;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
	background-color: #333;
	@include box-shadow(0 1px 1px rgba(255, 255, 255, 0.05));
}

#usr-nav-wrap {
	width: 250px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.usr-nav-section {
	padding: 5px 0;
	width: 100%;
	font-size: 12px;

	h3 {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.05em;
		color: #e0e0e0;
		text-align: center;
		border-bottom: none;
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
		padding: 10px 0 0 0;
		text-align: left;
	}

	table {
		border-collapse: collapse;
		margin: 10px 10px 0 10px;
	}


	tr, table, tbody {
		width: 100%;
	}

	td {
		width: 50%;
	}
	
	h3, li, td, div.more {
		height: 20px;
		span {line-height: 20px}
	}
	
	h3, li
	{
		span {
			line-height: 20px;
			vertical-align: middle;
		}
		
		img {
			padding: 1px 0;
			vertical-align: middle;
		}
	}
	
	li {
		padding: 0 10px;
	}
	
	li:hover, div.more:hover
	{
		background: #444444;
	}
	
	li.nohighlight:hover
	{
		background: none;
	}
	
	.cookie-issue {
		padding: 0 10px;
	}
	
	a:link, a:visited, a:hover, a:active {
		color: #c9c9c9;
		text-decoration: none;
	}

}

.more {
	margin-top: 5px;
	text-align: center;
}

.down-img {
	width: 7px;
	height: 7px;
}

/* Page header
--------------------------------------------- */

.breadcrumbs {
	float: left;
	color: #333333;
	font-size: 0.9em;
	padding-bottom: 20px;
}

.search-box {
	float: right;
	padding-bottom: 20px;
	
	a {
		float: right;
	}
}

/* Postform (?)
--------------------------------------------- */

#postform {
	margin-top: 20px;
}

/* Search box
--------------------------------------------- */

#search-box #keywords {
	width: 95px;
	background-color: #FFF;
}

#search-box li {
	text-align: right;
	margin-top: 4px;
}

#search-box img {
	vertical-align: middle;
	margin-right: 3px;
}

/* Site description and logo */
#site-description {
	float: left;
	width: 70%;
}

#site-description h1 {
	margin-right: 0;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */

.forumbg {
	margin-bottom: 4px;
	clear: both;
}

.panel {
	margin-bottom: 4px;
}

.post {
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.post:target .content {
	color: #000000;
}

.rowbg {
	margin: 5px 5px 2px 5px;
}

.ucprowbg {
	background-color: #e2e2e2;
}

.fieldsbg {
	background-color: #eaeaea;
}

/* Horizontal lists
----------------------------------------*/

ul.linklist {
	display: block;
	margin: 0;
}


ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
	font-size: 1.1em;
	line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

/* Table styles
----------------------------------------*/
table.table1 {
	/* See tweaks.css */
	border-collapse: collapse;
}

#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.3em;
	font-size: 1em;
	padding: 0 0 4px 3px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #f6f6f6;
	color: #000;
}

table.table1 td {
	color: #6a6a6a;
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 5px;
	border-top: 1px solid #FAFAFA;
	border-bottom: 1px solid #FAFAFA;
}

table.table1 tbody th {
	padding: 5px;
	border-bottom: 1px solid #000000;
	text-align: left;
	color: #333333;
	background-color: #FFFFFF;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	color: #000000;
	font-weight: normal;
}

.forumbg table.table1 {
	margin: 0;
}

.forumbg-table > .inner {
	margin: 0 -1px;
}

.forumbg-table > .inner > span.corners-top {
	margin: 0 -4px -1px -4px;
}

.forumbg-table > .inner > span.corners-bottom {
	margin: -1px -4px 0 -4px;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts 
   Also see tweaks.css */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
	margin: 10px 0;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #000000;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #828282;
	float: left;
	width: 65%;
}

/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #bfbfbf;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #eeeeee;
	border: 1px solid #bababa;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination span a:hover {
	border-color: #d2d2d2;
	background-color: #d2d2d2;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

/* Miscellaneous styles
---------------------------------------- */
#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.headerspace {
	margin-top: 20px;
}

.error {
	color: #bcbcbc;
	font-weight: bold;
	font-size: 1em;
}

.reported {
	background-color: #f7f7f7;
}

li.reported:hover {
	background-color: #ececec;
}

div.rules {
	background-color: #ececec;
	color: #bcbcbc;
	padding: 0 10px;
	margin: 10px 0;
	font-size: 1.1em;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.rules {
	background-color: #ececec;
	background-image: none;
	padding: 5px;
}

p.rules img {
	vertical-align: middle;
	padding-top: 5px;
}

p.rules a {
	vertical-align: middle;
	clear: both;
}

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}
