@CHARSET "UTF-8";
/*
 * General
 */
* {
  margin: 0;
  padding: 0; }

header, section, footer, aside, nav, article, hgroup {
  display: block; }

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 10px;
  background: #f0f0f0;
  overflow: hidden; }

body, html {
  width: 100%;
  height: 100%; }

fieldset {
  font-size: 1.1em;
  border: none;
  font-family: Verdana,Helvetica,Arial,sans-serif; }

input {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 1em; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input[type="text"], input[type="password"], textarea {
  border: 1px solid #dbdbdb;
  padding: 2px;
  color: #088a08; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border: 1px solid #088a08;
  color: inherit; }

button, input[type="button"] {
  background: none;
  color: #088a08;
  border: 1px solid #088a08;
  padding: 3px 7px; }

button:hover, input[type="button"]:hover {
  border: none;
  padding: 4px 8px;
  background: #088a08;
  color: #f0f0f0;
  cursor: pointer; }

h1 {
  border-bottom: 1px solid #088a08;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #088a08; }

hr {
  border: 0 none #fff;
  border-top: 1px solid #088a08;
  height: 1px; }

a {
  color: #088a08;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

select {
  background: #fff;
  border: 1px solid #dbdbdb; }

select:focus {
  border: 1px solid #088a08; }

img {
  border-width: 0;
  /* old IE compatibility */ }

#bottom-bar {
  position: absolute;
  bottom: 0;
  z-index: 200;
  width: 100%;
  background: #fff;
  font-size: 1.2em; }
  #bottom-bar ul {
    list-style-type: none;
    width: 100%; }
    #bottom-bar ul li {
      transition: display 0.25s;
      padding: 5px;
      border-top: 1px solid #088a08;
      display: none; }
  #bottom-bar span {
    float: right;
    font-weight: bold;
    cursor: pointer;
    color: #088a08; }

/*
 * Top bar
 */
#header {
  height: 70px;
  position: absolute;
  top: 0;
  overflow: hidden;
  font-size: 1.2em;
  z-index: 1; }

.hex {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: padding-top 0.25s, background 0.25s;
  transition-timing-function: cubil-bezier(0, 0.5, 1, 0.5);
  width: 60px;
  height: 30px;
  background-color: #fff;
  position: relative; }
  .hex > div {
    height: 52px;
    width: 100%;
    background-image: url("../images/arrow1hover.svg");
    background-position: 0% 30px;
    background-repeat: no-repeat; }
  .hex > div:after {
    transition: opacity 0.25s;
    transition-timing-function: cubil-bezier(0, 0.5, 1, 0.5);
    content: "";
    width: 60px;
    height: 52px;
    background-image: url("../images/arrow1.svg");
    background-position: 0% 30px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    opacity: 1; }
  .hex img {
    width: 40px;
    height: 40px;
    padding: 0 5px;
    display: inline-block;
    position: relative;
    z-index: 2;
    vertical-align: top; }

.hex:hover {
  padding-top: 15px;
  background-color: #a6d5a6; }
  .hex:hover > div:after {
    opacity: 0; }

.menu {
  list-style: none;
  vertical-align: top;
  padding-left: 0;
  margin-left: -2px; }
  .menu li {
    display: inline-block;
    max-width: 60px;
    max-height: 40px;
    margin: 0px 2px;
    text-align: center;
    vertical-align: top; }
  .menu a {
    display: inline-block;
    transition: color 0.25s;
    transition-timing-function: cubil-bezier(0, 0.5, 1, 0.5);
    line-height: 40px;
    max-width: 60px;
    max-height: 40px;
    text-decoration: none; }
  .menu a:hover {
    cursor: pointer;
    background: #088a08;
    color: #fff; }

#usr-nav-reference {
  transition-timing-function: cubil-bezier(0, 0.5, 1, 0.5);
  width: 275px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
  overflow: hidden; }
  #usr-nav-reference .hex {
    transition: margin-left 0.25s, background 0.25s;
    transition-timing-function: cubil-bezier(0, 0.5, 1, 0.5);
    width: 255px;
    height: 40px;
    margin-left: 30px; }
    #usr-nav-reference .hex > div {
      width: 271px;
      height: 40px;
      background-image: url("../images/arrow2hover.svg");
      background-position: 0px 0%;
      position: absolute;
      left: -16px; }
    #usr-nav-reference .hex > div:after {
      width: 271px;
      height: 40px;
      background-image: url("../images/arrow2.svg");
      background-position: 0px 0%; }
  #usr-nav-reference .hex:hover {
    margin-left: 20px;
    padding-top: 0;
    cursor: pointer; }

#usr-nav-name, #usr-nav-reference {
  text-align: center; }
  #usr-nav-name span, #usr-nav-reference span {
    line-height: 40px;
    vertical-align: top;
    padding-right: 5px;
    font-weight: bold;
    font-size: 1.2em; }
  #usr-nav-name img, #usr-nav-reference img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    width: 30px;
    height: 30px;
    padding: 5px; }

/*
 * Main section
 */
#even-bigger-wrapper {
  /*transition: width 0.25s; */
  transition-timing-function: cubil-bezier(0, 0.5, 1, 0.5);
  width: 100%;
  height: 100%;
  float: left;
  overflow: auto; }

#big-wrapper {
  width: 100%;
  /* height: calc(100% - 40px);*/
  height: 100%;
  /* padding-top: 40px; */
  min-width: 850px; }

#wrapper {
  width: 80%;
  padding-top: 5px;
  min-height: calc(100% - 420px);
  /* Full height of the logo image and the footer */
  margin: 0 auto; }

.welcome-img {
  display: table;
  width: 100%;
  font-size: 100px;
  color: white;
  background-position: center 0;
  background-repeat: no-repeat;
  border-bottom: 5px solid #088a08;
  height: 350px;
  margin: 0 auto; }
  .welcome-img div {
    width: 100%;
    text-align: center;
    display: table-cell;
    height: 350px;
    vertical-align: middle;
    -webkit-text-shadow: 0 0 20px black, 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0 0 20px black, 0 0 20px rgba(0, 0, 0, 0.5);
    -o-text-shadow: 0 0 20px black, 0 0 20px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 20px black, 0 0 20px rgba(0, 0, 0, 0.5); }

.breadcrumbs {
  float: left;
  color: #088a08;
  font-size: 1.1em;
  line-height: 2.2em;
  padding-bottom: 10px; }

#footer {
  width: 80%;
  margin: 20px auto 0 auto;
  clear: both;
  border-top: 1px solid #088a08;
  padding: 10px 0;
  min-height: 19px;
  max-height: 19px;
  text-align: center; }

/*-----------------*/
/* System messages */
/*-----------------*/
#system-message {
  clear: both; }
  #system-message > dd {
    text-indent: 0; }
  #system-message > .error > ul, #system-message > .message > ul {
    background-image: none;
    border: none; }

.error.message.fade, .message.message.fade {
  list-style-type: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin-left: 18px; }

/*----------*/
/* Articles */
/*----------*/
.search-box {
  float: right;
  padding-bottom: 10px;
  font-size: 1.1em; }

.article {
  padding: 20px 0;
  clear: both; }
  .article p {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    overflow: hidden;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333333;
    text-indent: 25px;
    padding-top: 1em; }

.article-header {
  color: #088a08;
  border-bottom: 1px solid #088a08;
  margin-bottom: 0.3em;
  clear: both;
  /* for old IE compatibility */ }
  .article-header a {
    text-decoration: none;
    color: inherit; }

.article-title {
  font-size: 1.5em;
  padding: 2px 0px 0px;
  margin: 0px 0px 0.3em !important;
  text-transform: none;
  font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
  line-height: 125%;
  font-weight: bold; }

.actions {
  list-style: none;
  display: inline-block; }

.actions li {
  display: inline-block; }

.img-intro-left, .img-fulltext-left {
  float: left;
  padding-right: 10px; }

.img-intro-right, .img-fulltext-right {
  float: right;
  padding-left: 10px; }

.modified {
  font-size: 1em;
  padding-top: 2px; }

.article-info {
  display: block;
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 5px; }

.readmore {
  padding-top: 10px; }
  .readmore a {
    font-weight: bold; }

.pagination {
  clear: both;
  padding: 20px 0; }
  .pagination .right {
    float: right; }
  .pagination .left {
    float: left; }
  .pagination .left, .pagination .right {
    text-decoration: none;
    color: #088a08;
    font-weight: bold; }
  .pagination .left:hover, .pagination .right:hover {
    text-decoration: underline; }

/*--------*/
/* Search */
/*--------*/
.search {
  clear: both;
  padding: 20px 0; }
  .search .form-limit {
    padding: 15px 0;
    float: right; }
  .search .error {
    padding: 15px 0;
    font-weight: bold;
    color: #088a08; }
  .search .word {
    padding: 5px 0 15px 0; }
  .search .searchintro {
    padding-bottom: 15px; }
  .search .ordering-box {
    padding: 15px 0; }
  .search h3 {
    font-size: 1em;
    color: #088a08;
    font-weight: bold;
    border-bottom: 1px solid #088a08;
    margin-bottom: 15px; }
  .search .search-results {
    clear: both; }
  .search .counter {
    padding-top: 15px;
    font-weight: bold; }
  .search .result-title {
    color: #088a08;
    font-weight: bold;
    border-bottom: 1px solid #088a08;
    margin-bottom: 5px; }
  .search .result-created {
    padding-bottom: 20px;
    font-size: 0.8em; }
  .search .highlight {
    padding: 0px;
    color: #088a08;
    font-weight: bold;
    background: none; }

/*------------*/
/* Login Form */
/*------------*/
.login {
  clear: both;
  padding: 20px 0 10px 0; }
  .login fieldset {
    display: table;
    margin: 0 auto;
    width: 500px;
    text-align: center; }
  .login button {
    margin-top: 10px; }

.login-fields {
  display: table-row;
  text-align: left; }
  .login-fields label, .login-fields input {
    display: table-cell;
    margin: 5px;
    width: 250px; }

.login-forgots {
  list-style: none;
  padding: 10px 0 0 0;
  text-align: center; }
  .login-forgots a {
    font-weight: bold; }

/*------------------*/
/* New Article form */
/*------------------*/
#adminForm {
  clear: both; }
  #adminForm legend {
    border-bottom: 1px solid #088a08;
    width: 100%;
    color: #088a08;
    font-weight: bold;
    font-size: 1.1em;
    margin: 15px 0 10px 0; }
  #adminForm .formelm {
    display: table-row; }
    #adminForm .formelm label {
      display: table-cell;
      min-width: 200px;
      padding-bottom: 15px; }
    #adminForm .formelm input {
      display: table-cell;
      width: 400px; }
    #adminForm .formelm img {
      margin-left: 15px; }
  #adminForm .formelm-area {
    display: table-row; }
    #adminForm .formelm-area label {
      display: table-cell;
      min-width: 200px;
      padding-bottom: 15px; }
    #adminForm .formelm-area textarea {
      display: table-cell;
      vertical-align: middle;
      margin-bottom: 15px;
      min-width: 400px; }
  #adminForm p {
    padding-bottom: 15px; }
  #adminForm button {
    margin-bottom: 15px; }
  #adminForm .article {
    padding: 0; }
  #adminForm .readmore {
    padding: 0; }
    #adminForm .readmore a {
      font-weight: normal; }

/*------*/
/* Tips */
/*------*/
.tip {
  background: #fff;
  padding: 5px;
  border: 1px solid #dbdbdb; }

.tip-title {
  font-weight: bold;
  color: #088a08;
  border-bottom: 1px solid #088a08; }

/*
 * User sidebar
 */
#usr-nav {
  transition-timing-function: cubil-bezier(0, 0.5, 1, 0.5);
  width: 0;
  height: 100%;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background: #4f4f4f;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
  color: #c9c9c9; }
  #usr-nav hr {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-rigth: 10px;
    height: 1px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); }

#usr-nav-name {
  position: relative; }
  #usr-nav-name .heex {
    width: 13px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/arrow3.svg"); }

#usr-nav-name:hover {
  cursor: pointer;
  background: #444444; }

.sep {
  border: 0 none #FFFFFF;
  height: 1px;
  margin: 5px 0;
  display: block;
  clear: both;
  background-color: #088a08;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
  -o-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05); }

#usr-nav-wrap {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.usr-nav-section {
  padding: 5px 0;
  width: 100%;
  font-size: 12px; }
  .usr-nav-section h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.05em;
    color: #e0e0e0;
    text-align: center; }
  .usr-nav-section ul {
    list-style: none;
    padding: 10px 0 0 0;
    text-align: left; }
  .usr-nav-section table {
    border-collapse: collapse;
    margin: 10px 10px 0 10px; }
  .usr-nav-section tr, .usr-nav-section table, .usr-nav-section tbody {
    width: 100%; }
  .usr-nav-section td {
    width: 50%; }
  .usr-nav-section h3, .usr-nav-section li, .usr-nav-section td, .usr-nav-section div.more {
    height: 20px; }
    .usr-nav-section h3 span, .usr-nav-section li span, .usr-nav-section td span, .usr-nav-section div.more span {
      line-height: 20px; }
  .usr-nav-section h3 span, .usr-nav-section li span {
    line-height: 20px;
    vertical-align: middle; }
  .usr-nav-section h3 img, .usr-nav-section li img {
    padding: 1px 0;
    vertical-align: middle; }
  .usr-nav-section li {
    padding: 0 10px; }
  .usr-nav-section li:hover, .usr-nav-section div.more:hover {
    background: #444444; }
  .usr-nav-section li.nohighlight:hover {
    background: none; }
  .usr-nav-section .cookie-issue {
    padding: 0 10px; }
  .usr-nav-section a:link, .usr-nav-section a:visited, .usr-nav-section a:hover, .usr-nav-section a:active {
    color: #c9c9c9;
    text-decoration: none; }

.more {
  margin-top: 5px;
  text-align: center; }

.down-img {
  width: 7px;
  height: 7px; }
